/.externalToolBuilders/
/.idea/
/.settings/
/.vscode/
/coverage/
/node_modules/
/vendor/
/.buildpath
/.checkstyle
/.php_cs.cache
/.project
/auth.json
/phpunit.phar
/phpunit-*.phar
/phpunit-report.coverage.xml
/phpunit-report.tests.xml
/coverage.xml
